*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.parent{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-bottom: 19px;
    gap: 10px;
}
.parent .sub{
    background-color: white;
    padding: 30px 50px;
    text-align: center;
    cursor: pointer;
    width: 350px;
}
.parent .sub button{
    margin: 10px;
    width: 60px;
    padding: 5px;
    border: 1px solid transparent;
    color: white;
}
.parent .sub #on{
    background-color: gray;
}
.parent .sub #off{
    background-color: red;
}